*{box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    height: 100%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header {
    background-color: #03071e;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header #logo{
    grid-column: span 6;
}
header nav{
    grid-column: span 6;
    justify-self: end;
}
header .menu{
    display: none;
}
button{
    background-image: linear-gradient(140deg, #F09E16 0%, #f2295b 100%);
    text-align: center;
    text-transform: uppercase;
    color: white;            
    border-radius: 15px;
    border: none;
    height: 4vh;
    font-size: 17px;
}

button:hover{
    text-decoration: none;
    transform: rotate(2deg);
    transition: 100ms linear all;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0.5vw 0.5vw;
    padding: 1vh 1vw;
}

nav a:hover{
    color: #f2f2f2;
    transition-duration: 0.4s;
}

main section{    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


main section h1{
    background: -webkit-linear-gradient(317deg, rgba(240,158,22,1) 0%, rgba(242,41,91,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    border-right: thick solid orange;
    margin: 0 auto;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 10vw;
    cursor: default;
    user-select: none;
    position: relative;
    animation: 
    typing 0.75s steps(8, end),
    blink-caret 1.5s step-end infinite,
    floatBubble 2s infinite normal ease-out;
}

@keyframes typing{
    from {width: 0 }
    to {width: 100% }
}

@keyframes blink-caret{
    from, to {border-color:transparent }
    50%{border-color: orange }
}

@keyframes floatBubble {
    0% {
      top: 50%; /* Start at 50% */
    }
    100% {
      top: 10%; /* Move up to 10% at the end of the animation */
    }
}

.nav-menu-mobile{
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #03071e;
    color: #fff;
    padding-top: 2vh;
    padding-left: 1vw;
}
footer #left{
    grid-column: span 6 ;
}
#right a{
    text-decoration: underline;
    color:aliceblue;
    margin-top: 5px;
    display: block;
}


@media (max-width: 768px){

    header nav{
        display: none;
        grid-column: span 5;
        justify-self: end;
    }
    header .menu{
        font-size: 25px;
        grid-column: 12 / span 1;
        display: block;
        justify-self: center;
    }
    .project{
        grid-column: span 12;
    }
    .inside{
        row-gap: 20px;
    }
    .nav-menu-mobile{
        display: block;
        width: 100%;
        height: 30%;
        background: #03071e;
        position: fixed;
        top: -100%;
        left: 0px;
        z-index: 999;
        transition: all 750ms cubic-bezier(0.85, 0, 0.15, 1);
        color: #edede9;
        border-bottom-right-radius: 10px ;
        border-bottom-left-radius: 10px ;

    }
    .nav-menu-mobile-active {
        top: 0%;
    }

    .nav-menu-mobile > .inside > .sideMenu > a{
        display: block;
        font-weight: 700;
        font-size: 40px;
        text-decoration: none;
        color:#edede9;;
        text-align: center;
        font-weight: 200;
        border-bottom: solid thin #edede9;
        padding: 0 50vw 0 50vw;
        margin-top: 10px;
    }

    .nav-menu-mobile > .inside > .closeBtn{
        margin-top: 25px;
        grid-column: 12;
        font-size: 25px;
        justify-self: left;
        align-items: center;
    } 
    .nav-menu-mobile > .inside > .sideMenu{
        grid-column: span 12;
        justify-self: center;

    }
    
    footer #left{
        grid-column: span 12;
    }
}