body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edede9;
    font-size: 17px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header {
    background-color: #03071e;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header #logo{
    grid-column: span 6;
}
header nav{
    grid-column: span 6;
    justify-self: end;
}

header .menu{
    display: none;
}
button{
    background-image: linear-gradient(140deg, #F09E16 0%, #f2295b 100%);
    text-align: center;
    text-transform: uppercase;
    color: white;            
    border-radius: 15px;
    border: none;
    height: 4vh;
    font-size: 17px;
}
button:hover{
    text-decoration: none;
    transform: rotate(2deg);
    transition: 100ms linear all;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0.5vw 0.5vw;
    padding: 1vh 1vw;
}

nav a:hover{
    color: #f2f2f2;
    transition-duration: 0.4s;
}

main {
    row-gap: 20px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.project {
    justify-self: center;
    grid-column: span 4;
    background-color: #03071e;
    padding: 20px;
    padding-bottom: 14vh;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    color: #edede9;
}
.project img{
    width: 300px;
    height: 300px;
    user-select: none;
}
.project img:hover{
    opacity: 0.8;
    transition: 0.4s ease;
}
.nav-menu-mobile{
    display: none;
}

footer {
    background-color: #03071e;
    color: #fff;
    padding-top: 2vh;
    padding-left: 1vw;
}
footer #left{
    grid-column: span 6;
}
#right a{
    text-decoration: underline;
    color:aliceblue;
    margin-top: 5px;
    display: block;
}
.overlay{
    display: none;
    z-index: 999999;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
}

.inside-overlay{    
    border-radius: 10px;
    grid-column: span 12;
    justify-self: center;
    align-self: center;
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    background-color: #03071e;
}
.inside-overlay article{    
    grid-column: span 6;
    background-color: #03071e;
    color: #edede9;
    padding: 20px;
    padding-bottom: 10vh;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    justify-self: center;
    align-self: center;
}
.inside-overlay article img{
    max-width: 100%;
    height: auto;
    user-select: none;
}
.inside-overlay p{
    color: #edede9;
    margin-top: 25px;
    grid-column: span 5;
    line-height: 1.5;
}
.inside-overlay i{
    align-self: end;
    grid-column: 11 / span 2;
    justify-self: center;
    font-size: 25px;
    color: #edede9;
}


@media (max-width: 1024px){
    .project{
        grid-column: span 6;
    }
    footer #left{
        grid-column: span 12;
    }

    .inside-overlay i{
        margin-top: 2vh;
    }
    .inside-overlay{
        overflow: scroll;
    }
    .inside-overlay article{
        object-fit: contain;
        width: 100%;
        height: auto;
        grid-column: 3 / span 8;
    }
    .inside-overlay article img {
        max-width: 100%;
        height: auto;
        user-select: none;
    }
    .inside-overlay p{
        color: #edede9;
        margin-top: 25px;
        grid-column: 3 / span 8;
        line-height: 1.5;
    }
}
@media (max-width: 768px){

    header nav{
        display: none;
    }
    header .menu{
        font-size: 25px;
        grid-column: 12 / span 1;
        display: block;
        justify-self: center;
    }
    .project{
        grid-column: span 12;
    }
    .inside{
        row-gap: 20px;
    }
    .inside-overlay article{
        object-fit: contain;
        padding-bottom: 5vh;
        width: 100%;
        height: auto;
        user-select: none;
        grid-column: 3 / span 8;
    }
    .inside-overlay p{
        color: #edede9;
        margin-top: 25px;
        grid-column: 3 /span 8;
        line-height: 1.5;
    }
    .nav-menu-mobile{
        display: block;
        width: 100%;
        height: 30%;
        background: #03071e;
        position: fixed;
        top: -100%;
        left: 0px;
        z-index: 999;
        transition: all 750ms cubic-bezier(0.85, 0, 0.15, 1);
        color: #edede9;
        border-bottom-right-radius: 10px ;
        border-bottom-left-radius: 10px ;

    }
    .nav-menu-mobile-active {
        top: 0%;
    }

    .nav-menu-mobile > .inside > .sideMenu > a{
        display: block;
        font-weight: 700;
        font-size: 40px;
        text-decoration: none;
        color:#edede9;;
        text-align: center;
        font-weight: 200;
        border-bottom: solid thin #edede9;
        padding: 0 50vw 0 50vw;
        margin-top: 10px;
    }

    .nav-menu-mobile > .inside > .closeBtn{
        margin-top: 25px;
        grid-column: 12;
        font-size: 25px;
        justify-self: left;
        align-items: center;
    } 
    .nav-menu-mobile > .inside > .sideMenu{
        grid-column: span 12;
        justify-self: center;

    }
    
}

@media (max-width: 425px){
    .inside-overlay article{
        object-fit: contain;
        width: 100%;
        height: auto;
        user-select: none;
        grid-column: 3 / span 8;
    }
}