body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    "header header header header"
    "main main main main";
    min-height: 100vh;
    font-size: 17px;
}

header {
    user-select: none;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "div . . nav";
    background-color: #03071e;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#logo{
    grid-area: div;
}
button{
    background-image: linear-gradient(140deg, #F09E16 0%, #f2295b 100%);
    text-align: center;
    text-transform: uppercase;
    color: white;            
    border-radius: 15px;
    border: none;
    height: 4vh;
    font-size: 17px;
}
button:hover{
    text-decoration: none;
    transform: rotate(2deg);
    transition: 100ms linear all;
    font-size: 18px;
}
nav {
    grid-area: nav;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0.5vw 0.5vw;
    padding: 1vh 1vw;
}

nav a:hover{
    color: #f2f2f2;
    transition-duration: 0.4s;
}

main {
    display: grid;
    grid-template-columns: 20vw 70vw;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
    justify-content: left;
    grid-area: main;
}
section{
    padding: 10px;
}
.item1{
    margin: 10px 0 0 10px;
    border-bottom: solid thin #03071e;
    font-size: 20px;
    color: #03071e;
}
.item2{
    color:#03071e;
    margin: 10px 0 0 10px;
    display: block;
}
.item3{
    margin: 10px 0 0 10px;
}


